.memeGenerator{
  display: grid;
  border: 1px solid blue;
  width: 300px;
  height: 200px;
  
}

.memeContainer{
  border: 1px solid red;
  width: 500px;
  height: 500px;
}

.img{
width: 500px;
height: 500px;
}

.linea1{
  font-size: 30px;
  color: whitesmoke;
  position: absolute;
  margin-top: 40px;
  left: 40px;
  text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 
              0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 
              1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 
              1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0)
}

.linea2{
  font-size: 30px;
  color: whitesmoke;
  position: absolute;
  margin-top: 400px;
  left: 40px;
  text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 
              0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 
              1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 
              1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0)
}
